
.App-header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width: min(70%, 500px);
  background-color: white;
  padding: 15px 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.card h1{
  font-size: 22px;
}

.card h2{
  font-size: 17px;
  text-align: right;
}

.card button{
  background-color: transparent;
  border: none;
  align-self: flex-end;
}
.card button i{
  cursor: pointer;
}




